/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2018, 6:16:35 PM
    Author     : mahesh computer
*/

.header-menu{
    height: 70px;
    background-color: #24292e;
    display: flex;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 24px;
}
.top-menu-container {
    display: flex;
    align-items: center;
}
.small-profile-container{
    position: relative;
    top: 1px;
    z-index: 110;
    height: 54px;
    align-items: center;
    display: flex;
}
.top-hear-menu ul{
    display: flex;
    align-items: center;
}
.gitHub-icon{
    height: 40px;
    width: 40px;
    margin: 0 15px 0 15px;
}
.top-menu-style a{
    color: #fff;
    font-size: 16px;
}
.top-hear-menu:after{
    content: '';
    display: table;
    clear: both;
}
.right-top-header-menu .ul-menu-list li{
    padding: 15px 0 15px 0;
    float: left;
    width: 121px;
}
.ul-menu-list{
    padding: 0;
    margin: 0;
    color: #fff;
    list-style-type: none;
}
.ul-menu-list li a{
    text-decoration: none;
    color: #fff;
}
.top-menu-container:after{
    content: '';
    display: table;
    clear: both;
}
.top-sub-menu{
    text-align: center;
    padding: 5px;
    
    background: #1e2327;
}
.option-one{
    padding: 5px;
    margin-left: 5px;
}
.option-one a{
    text-decoration: none;
    color: #fff;
}